<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/96492f75-fdc5-45ad-ad61-b4856e096882/resourceGroups/Management/providers/Microsoft.ContainerRegistry/registries/mosharaf</ResourceId>
    <ResourceName>mosharaf</ResourceName>
    <ResourceGroup>Management</ResourceGroup>
    <Subscription>mosharaf-internal1</Subscription>
    <RegistryUrl>https://mosharaf.azurecr.io/</RegistryUrl>
    <UserName>mosharaf</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>928e9d9b-3c5d-48c3-ba76-06b71dcac6fb</ProjectGuid>
  </PropertyGroup>
</Project>